$primary-color: #333;
$light: #f3f3f3;

body {
  padding: 1em;
  font-size: 14px;
  background: $primary-color;
  color: #f3f3f3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  h3 {
    font-size: 40px;
    font-weight: 100;
  }
}
