$primary-color: #333;
$light: #f3f3f3;

body {
  padding: 1em;
  font-size: 14px;
  background: $primary-color;
  color: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  h3 {
    font-size: 40px;
  }
}
